---
  import BaseLayout from '../layouts/BaseLayout.astro';
	import { getCollection } from 'astro:content';
	import images from "../data/main-page-images.json"
	import DiscoverMoreCard from '../components/DiscoverMoreCard.astro';

  const pageTitle = 'Home';
	const discoverMoreData = await getCollection('discover-more');

---

<BaseLayout pageTitle={pageTitle}>

  <section class="section">
    <div class="container  flex flex-col">
      <div class="banner relative grid md:grid-cols-2  items-center">
        <div class="w-full place-self-start">
          <h3 class="pretitle">Vingor of norway</h3>
          <!-- <h1 class="mb-10 text-gray-700  text-4xl/[1.1] font-semibold md:text-5xl/[1.1] lg:text-6xl/[1.1]">Experience the<br><mark>Warmth and Comfort</mark></h1> -->
          <p class="text">Indulge in the luxurious warmth and comfort of our premium wool blankets and products, crafted with the finest natural fibers. Experience the timeless elegance of wool while embracing sustainable, eco-friendly living. Elevate your cozy moments with our high-quality wool offerings.</p>
          <a class="button" href="https://www.vingtor.no/">Buy Now</a>
        </div>

				<div class="w-full h-[600px] ">
					<div
						class="w-full h-full flex relative "
						data-slides
					>
						{images.map((image, index) => (
					
							<a class="slide absolute opacity-0 h-full w-full transition-all duration-1000 ease-in-out" href={image.link} 
							data-active={index === 0}
								>
								<img
									class='h-full w-full rounded-md object-contain' 
									src={image.src}
									alt={image.alt}
									width={300}
									loading='lazy'

								/>
							</a>
						))}
					</div>
				</div>

      </div>
			<!-- <section: discover> -->
				<div class="grid justify-center md:justify-center gap-10 items-center">
					<h2 class="text-4xl/[1.1] text-center text-gray-700 font-semibold md:text-5xl/[1.1] lg:text-6xl/[1.1] capitalize mx-auto w-full">Discover More</h2>

					<div class="grid grid-cols-1 sm:grid-col-2 mx-auto md:mx-0 md:grid-cols-3 md:justify-between gap-8">
						{discoverMoreData.map((card)=> <DiscoverMoreCard card={card} />)}
					</div>


				</div>


			
			<!-- </section: discover> -->
    </div>
  </section>
  
</BaseLayout>
<style>
	.carousel {
		display: flex;
		width: 100%;
		height: 400px;
		position: relative;
		
	}

	.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

</style>
<script>
const slides = document.querySelector<HTMLDivElement>("[data-slides]");
	let activeIndex = 0;
	const interval = 5000;
	let intervalId: number | null = null;
	
	if (slides) {
	const startInterval = () => {
    intervalId = setInterval(() => {
			activeIndex = (activeIndex + 1) % slides.children.length;
		if (activeIndex === 0) {
			slides.children[slides.children.length - 1].removeAttribute("data-active");
			slides.children[0].setAttribute("data-active", "true");
		} else {
			slides.children[activeIndex - 1].removeAttribute("data-active");
			slides.children[activeIndex].setAttribute("data-active", "true");
		}
    }, interval);
  };
	
  const stopInterval = () => {
    if (intervalId) {
      clearInterval(intervalId);
      intervalId = null;
    }
  };

  const observer = new IntersectionObserver(entries => {
		console.log(entries[0].isIntersecting);
    if (entries[0].isIntersecting) {
      startInterval();
    } else {
      stopInterval();
    }
  });

  observer.observe(slides);

  slides.addEventListener("mouseover", stopInterval);
  slides.addEventListener("mouseout", startInterval);

}

</script>