---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

type Props = {
  card: CollectionEntry<"discover-more">;
};

const { card } = Astro.props;
const { image, description, title, link } = card.data;
---

<article class="post-card max-w-[400px] border-gray-500/20 overflow-hidden group/discover flex flex-col items-start ">
  <a href={link} >
    <div class="meta shadow-md hover:shadow-lg w-full grid">
      <Image src={image.src} alt={image.alt} transition:name={title} width={400} height={400} />
    </div>
    <div class=" pb-6  post-card-content text-black grid">
      <h2 class="font-bold pt-4 text-md ">{title}</h2>
      <!-- <h3 class="font-bold pt-1 text-sm text-gray-700/70">{tag}</h3> -->
      <p class="text-gray-700  line-clamp-3">{description}</p>
      <div class="underline-offset-2 cursor-pointer pointer-events-auto group-hover/discover:text-pink-500 underline hover:text-opacity-50 ">Read More</div>
    </div>
  </a>
</article>

<style>
  .post-card {
    flex: 1 1 330px;
  } 
  .post-card-content > *:not(:first-child) {
    padding-top: .5em;
  }

</style>